body {
  padding: 0;
  margin: 0;
}

.game {
  display: flex; 
  flex-wrap: wrap;
  align-items: center; 
  max-width: 1000px;
  margin: 100px auto; 
}

.board {
  width: 69%;
  height: 500px;
  border: 1px solid black; 
  position: relative;
}

.active-board {
  height: 400px;
  width: 100%;
}

.disabled-board {
  height: 100px;
  width: 100%;
}

.table {
  display: flex; 
  width: 30%; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.score, .lifepoints {
  margin-bottom: 20px;
  font-size: 20px;
}

.score h3, .lifepoints h3 {
  margin-bottom: 10px;
}

#letter {
  position: absolute;
}